html
{
    font-size: 20px;
}

.text-indent-25
{
    text-indent: 25px;
}
.page-block
{
    padding: 100px 0;
}
.page-title-wrapper
{
    display: flex;
    justify-content: space-around;
}
.page-title
{
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;

    position: relative;

    text-transform: uppercase;
    background-color: #ffcb67;
    color: #222;

    padding: 10px 75px;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    border-radius: 25px 25px 0 0;
}

.page-title
{
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 5px #888;
}

.page-title::after, .page-title::before
{
    content: "";

    width: 100px;
    height: 60px;

    background-size: 100% 100%;
    background-image: url("/templates/main/assets/images/title-side-element.png");

    position: absolute;
    top: 40px;
    z-index: -1;
}

.page-title::before
{
    left: -98px;
}

.page-title::after
{
    right: -98px;
    transform: scaleX(-1);
}